*{
    margin: 0;
    padding: 0;
}

/**********************************************************************************HEADER**********************************************************************************/

header{
    background-color: beige;
}

header nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #171219;
    position: fixed;
    top: 0;
    width: 100%;
}

#burger{
    display: none;
}

header label{
    display: none;
}

header nav .menu-hamburger{
    display: none;
    width: 65px;
    position: absolute;
}

header nav>:nth-child(2n){
    padding-right: 30px;
}

header nav>:nth-child(2n-1){
    padding-left: 30px;
}

header>nav>ul{
    display: flex;
}

header>nav>ul>li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 34px;
    padding: 15px;
    list-style-type: none;
    
}

header>nav>ul>li>a{
    text-decoration: none;
    color: beige;
}

header>nav>ul>li>a:hover{
    text-shadow: beige 1px 0 10px;
}

header h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 59px;
    padding: 15px;
    padding-bottom: 0px;
    color: #171219;
    margin-top: 71px;
}

.navArticle{
    position: relative;
}

.navArticle ul{
    display: none;
    position: absolute;
    width: 90px;
    top: 63px;
    right: 0px;
    background-color: #171219;
}

.navArticle:hover ul{
    display:initial;
}

.navArticle ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 23px;
    padding: 4px;
    list-style-type: none;
}

.navArticle ul li a{
    color : beige;
    text-decoration: none;
}

.navArticle ul li a:hover{
    text-shadow: beige 1px 0 10px;
}

/**********************************************************************************MAIN**********************************************************************************/

main{
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

main section{
    max-width: 80%;
    height: auto;
    border: #171219 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    background-color: #171219;
}

main section img{
    max-width: 45%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

main section p{
    font-size: 18px;
    color: beige;
}

main section h2{
    color: darkred;
}

main section em{
    color: blueviolet;
}

main section strong{
    color: yellowgreen;
}

main section a{
    color: chocolate;
}

main section:nth-child(2n-1) img{
    float: left;
}

main section:nth-child(2n) img{
    float: right;
}

.presentation{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}


main table{
    border-collapse: collapse;
    width: 100%;
    background-color: beige;
}

main table tr:hover{
    background-color: rgb(187, 109, 53);
}

main table tr th{
    font-size: 30px;
    height: 40px;
}

main table, th, td, tr{
    border: 1px solid;
}

main table tr td{
    text-align: center;
    font-size: 20px;
    padding: 8px;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: beige;
}

main form input{
    padding: 3px;
    margin: 3px;
}

main form button{
    width: 100px;
    height: 30px;
    margin: 5px;
}

.mainAside{
    display: flex;
    flex-direction: row;
}

.slider-container{
    width: 400px;
    position: relative;
    margin: auto;
    height: 600px;
    overflow: hidden;
}

.menu{
    left: 0;
    z-index: 11;
    width: 100%;
    bottom: 0;
    margin: 20px;
    text-align: center;
}

.menu label{
    cursor: pointer;
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #171219;
    border-radius: 50px;
    margin: 0 0.2em 1em;
}

.menu label:hover, .menu label:focus{
    background: blue;
}

.slide-input{
    opacity: 0;
}

.slide-img{
    left: 100%;
}

.slide-img img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 10;
    transition: left 0s 0.75s;
}

[id^="slide"]:checked + .slide-img img{
    left: 0;
    z-index: 100;
    transition: left 0.65s ease-out;
}

/**********************************************************************************ASIDE**********************************************************************************/

aside{
    width: 30%;
    background-color: #171219;
    text-align: center;
}

aside section{
    padding-top: 20px;
    padding-bottom: 200px;
}

aside section:first-child{
    padding-top: 100px;
}

aside section:nth-child(1) img{
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

aside section img{
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

aside section p{
    font-size: 18px;
    color: beige;
    padding: 20px;
}

aside section a{
    color: beige;
}

/**********************************************************************************FOOTER**********************************************************************************/

footer{
    background-color: #171219;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 35px;
}

footer div{
    width: 33%;
    text-align: center;
    padding-top: 25px;
}

footer div a{
    color: beige;
}

footer div p{
    font-size: 26px;
    padding-bottom: 15px;
    color: beige;
}

.footerArticles{
    display: flex;
    flex-direction: column;
}

.footerArticles ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerArticles ul li{
    padding-top: 15px;
    font-size: 20px;
    list-style-type: none;

}

/**********************************************************************************MOBILE**********************************************************************************/

@media screen and (max-width:1010px){

    *{
        margin: 0;
        padding: 0;
    }
    header nav{
        position: relative;
    }

    header h1{
        margin-top: 0;
        padding-top: 50px;
    }

    /*#burger{
        display: block;
    }*/

    header label{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding-right: 35px;
        padding-bottom: 54px;
    }

    header nav .menu-hamburger{
        display: block;
        padding: 0;
    }

    header nav ul{
        display: none;
    }

    header nav input[type="checkbox"]:checked + ul{
        display: flex;
        flex-direction: column;
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100vh;
        align-items: center;
        justify-content: center;
        background-color: #171219;
        z-index: 101;
    }

    .mainAside{
        flex-direction: column;
    }

    main{
        width: 100%;
    }

    .presentation section{
        overflow-x: auto;
    }

    form textarea{
        width: 80%;
    }

    aside{
        width: 100%;
    }

    aside section:last-child{
        padding-bottom: 50px;
    }

    footer{
        flex-direction: column;
    }

    footer div{
        width: 100%;
        padding-bottom: 50px;
    }
}